.container {
  color: white;
  border: 1px solid palevioletred;
}

.flex {
  border: 1px solid cornflowerblue;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

.box-diff-margin {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.internal-box {
  width: 40%;
  max-width: 350px;
  border: 1px solid palegreen;
}
